[submodule "libs/noVNC"]
	path = libs/noVNC
	url = https://github.com/novnc/noVNC
[submodule "libs/websockify"]
	path = libs/websockify
	url = https://github.com/novnc/websockify
[submodule "libs/tribler"]
	path = libs/tribler
	url = https://github.com/Tribler/tribler
